:root {
    /* Цвета */
    --color-primary: #214784;
    --color-secondary: #8796AF;
    --color-bg: #98AED2;
    --color-accent: #B1740F;

    /* Шрифты */
    --font-family: 'Literata', serif;

    /*Размеры */
    --font-size-h1: 40px;
    --font-size-regular: 16px;
    --line-height-title: 65px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/*___________________ХЭДЕР______________________ */
.site-header {
    position: relative;
    padding: 20px 0;
    max-width: 1700px;
    margin: 0 auto;
}


.header-container {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    align-items: start;
}


.header-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.arm-icon {
    width: 165.76px;
    height: 90.89px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-left: -20px;
}

.title-wrapper {
    position: relative;
}

.title-wrapper h1 {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 800;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-title);
    text-align: center;
    color: var(--color-primary);
    margin: 0;
}

.logo-icon {
    position: absolute;
    left: 101%;
    top: 50%;
    transform: translateY(-65%);
    width: 32px;
    height: auto;
}

.category-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;

}

.category-menu {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-regular);
    line-height: 24px;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.category-menu a {
    text-decoration: none;
    color: var(--color-primary);
}

.category-menu a:hover {
    color: var(--color-accent);
}

.main-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    gap: 0;
    z-index: 10;
}

.search-button-wrapper {
    display: flex;
    justify-content: end;
    position: relative;
}

.search-button {
    width: 116px;
    height: 140px;
    background: url("../images/search_sprite.webp") no-repeat 0 0;
    background-size: 232px 140px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -20px;
}

.search-button:hover {
    background-position: -116px 0;
}

.auth-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 122px;
    height: 156px;

    border-left: 3px solid var(--color-primary);
    border-right: 3px solid var(--color-primary);
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-primary);
    text-align: center;
    line-height: 18px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.cart-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    cursor: pointer;
}

.cart-button {
    width: 100px;
    height: 100px;
}

.cart-icon {
    width: 79px;
    height: 76px;
    background-image: url("../images/cart_sprite.webp");
    background-size: 155px 75px;
    background-repeat: no-repeat;
    position: relative;
}

.cart-button:hover .cart-icon {
    background-position: -77px 0;
}

.preload-images {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background:
        url("../images/basket_icon_hover.webp") no-repeat,
        url("../images/search_glass_hover.webp") no-repeat;
}

.cart-button:hover .cart-count,
.cart-button:hover .cart-price {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 28px;
    height: 28px;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    font-size: var(--font-size-regular);
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-price {
    margin-top: 8px;
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--color-primary);
    font-weight: 600;
    text-align: center;
}

.cart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.decorative-line {
    width: 80%;
    margin: 2px auto 0;
    border-top: 3px solid var(--color-primary);
    height: 0;
}

/*___________________HERO SECTION______________________ */

.hero {
    background-image: url("../images/hero_page_alt.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 513px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 549px;
    height: 231px;
    left: 282px;
    top: 259px;
    margin: auto;
}

.hero-header {
    width: 549px;
    height: 0px;
    text-align: start;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 900;
    font-size: var(--font-size-h1);
    line-height: 59px;
    letter-spacing: -0.03em;

    color: #ffffff;
}

.hero-subtitle {
    text-align: start;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.hero-btn {
    position: relative;
    width: 167px;
    background: #ffffff;
    color: #072556;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    text-decoration: none;
}

.hero-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border: 1px solid #072556;
    border-radius: 2px;
    z-index: 2;
}

/*___________________STRIP SECTION______________________ */

.brand-track {
    overflow: hidden;
    border-bottom: 2px solid #A2A9B4;
    white-space: nowrap;
}

.brand-track:hover .brand-item {
    animation-play-state: paused;
}

.brand-item {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.brand-item img {
    height: 50px;
    padding: 0 10px;
    margin-bottom: -5px;
}

.logo-wrap {
    border-right: 3px solid #A2A9B4;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    height: 50px;
}


@keyframes slide {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%);
    }
}

/*___________________MEDIA SECTION______________________ */

.page-width {
    margin: 0 auto;
    max-width: 1690px;
    width: 90%;
}

.homepg-top-grid {
    column-gap: 2rem;
    display: grid;
    grid-template-areas:
        "homepg-top-grid popular-carusel newsletter"
        "homepg-top-grid products newsletter"
        "homepg-top-grid categories newsletter";
    grid-template-columns: 2fr 7fr 2fr;
    margin-bottom: 4rem;
    margin-top: 2rem;
    row-gap: 2rem;
}

.homepg-top-grid {
    grid-area: homepg-top-grid;

}

.popular-caruse {
    grid-area: popular-caruse;

}

.newsletter {
    grid-area: newsletter;

}

/*___________________MEDIA SECTION______________________ */
@media (min-width: 2000px) {
    .hero {
        min-height: 650px;
    }

    .hero-content {
        left: 450px;
    }
}